{% extends "base.html" %}
{% block content %}
<h1>Users</h1>
<ul class="user-list">
    {% for user in users %}
    <li class="user-entry">
        <a href="{{ url_for('user_movies', user_id=user.id) }}" class="btn">{{ user.name }}</a>
        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post" style="display:inline;"
            onsubmit="return confirm('Are you sure you want to delete this user and all their movies?');">
            <button type="submit" class="btn-danger" style="margin-left: 5px;">X</button>
        </form>
    </li>
    {% endfor %}
</ul>

<form action="{{ url_for('add_user') }}" method="post">
    <input type="text" name="name" placeholder="User Name" required>
    <button type="submit">Add User</button>
</form>
{% endblock %}